# Easy

Оценить с помощью доверительных интервалов:

выживаемость всех пассажиров (оценить среднее по isSurvived)

выживаемость женщин

выживаемость людей с каютами первого класса

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
titanic = pd.read_csv('./data/train.csv')   # читаем файл в pandas, сохраняем в датафрейме titanic
titanic.head() # выводим файл (первые строки, смотрим, корректно ли)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

1. Выживаемость всех пассажиров

Вариант A: Дисперсия известна

Рассчитаем число пассажиров Титаника

In [3]:
n = titanic.Survived.count()
print('Количество пассажиров Титаника: ', n, 'человек')

Количество пассажиров Титаника:  891 человек

Определим дисперсию "по выживаемости"

In [4]:
std = titanic.Survived.std()
print('Дисперсия составляет:', std)

Дисперсия составляет: 0.4865924542648585

Среднее по выживаемости:

In [5]:
mean = titanic.Survived.mean()
print('Значение показателя среднего составляет: ', mean)

Значение показателя среднего составляет:  0.3838383838383838

Зная дисперсию, можно сформировать специальную функцию для того, чтобы найти доверительный интервал.

In [6]:
from scipy.stats import norm

In [7]:
def dov_int (mean, std, n, alpha):
    x = norm.ppf(1 - alpha / 2) * std / np.sqrt(n)
    return mean - x, mean + x

Доверительный интервал при достоверности alpha равной:

In [8]:
alpha = 0.05

составляет по выживаемости для всех пассажиров:

In [9]:
confidence_interval = dov_int(mean, std, n, alpha)
confidence_interval

(0.3518881082221273, 0.41578865945464033)

Вывод: доверительный интервал по выживаемости всех пассажиров находится в диапазоне 35,19 - 41,58%% с уровнем значимости alpha = 0,05

Вариант B: Если дисперсия неизвестна, используется формула:

In [10]:
from scipy.stats import t

t.interval(1 - alpha, n - 1, loc=mean, scale=std)

(-0.5711640365064437, 1.3388408041832114)

Вывод: доверительный интервал по выживаемости всех пассажиров находится в диапазоне -57,11 - 133,89%% с уровнем значимости alpha = 0,05

2.Выживаемость женщин

Вариант A: Дисперсия известна

In [11]:
def alive(sex):             # Пишем функцию для сопоставления данных по полу с 0 и 1 (для удобства)
    if sex == 'male':       # То есть если пол мужской - возвращается 0
        return 0
    else: 
        return 1            # иначе, если пол женский - возвращается 1

In [12]:
sex_0_or_1 = titanic['Sex'].apply(alive) # формируем серию, для того, чтобы включить ее в колонку

In [13]:
titanic['Sex_0_1'] = sex_0_or_1   # создаем новую колонку в датафрейме titanic (для удобства)

In [14]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_0_1
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [15]:
female = titanic[['Survived','Sex_0_1']].query('Sex_0_1 == 1')  # датафрейм с лицами женского пола
female.head()

   Survived  Sex_0_1
1         1        1
2         1        1
3         1        1
8         1        1
9         1        1

In [16]:
n = female.Sex_0_1.count()
print('число женщин =', n)

число женщин = 314

In [17]:
std = female.Survived.std()
print('Дисперсия составляет:', std)

Дисперсия составляет: 0.43821120391621965

In [18]:
mean = female.Survived.mean()
print('Значение показателя среднего составляет: ', mean)

Значение показателя среднего составляет:  0.7420382165605095

Доверительный интервал при достоверности alpha равной:

In [19]:
alpha = 0.05

In [20]:
confidence_interval = dov_int(mean, std, n, alpha)
confidence_interval

(0.693568916951577, 0.790507516169442)

Вывод: доверительный интервал по выживаемости женщин в диапазоне 69,36 - 79,05%% с уровнем значимости alpha = 0,05

Вариант В: Если дисперсия неизвестна, воспользуемся формулой:

In [21]:
t.interval(1 - alpha, n - 1, loc=mean, scale=std)

(-0.12017388689013297, 1.604250320011152)

Вывод: доверительный интервал по выживаемости женщин находится в диапазоне -12,01 - 160,43%% с уровнем значимости alpha = 0,05

3. Выживаемость людей с каютами первого класса

Вариант A: Дисперсия известна

In [22]:
class_1 = titanic[['Survived','Pclass']].query('Pclass == 1')
class_1.head()

    Survived  Pclass
1          1       1
3          1       1
6          0       1
11         1       1
23         1       1

In [23]:
n = class_1.Pclass.count()
print('n равно', n)

n равно 216

In [24]:
std = class_1.Survived.std()
print('Дисперсия составляет:', std)

Дисперсия составляет: 0.48402561132684707

In [25]:
mean = class_1.Survived.mean()
print('Значение показателя среднего составляет: ', mean)

Значение показателя среднего составляет:  0.6296296296296297

Доверительный интервал при достоверности alpha равной:

In [26]:
alpha = 0.05

In [27]:
confidence_interval = dov_int(mean, std, n, alpha)
confidence_interval

(0.5650806238220164, 0.6941786354372429)

Доверительный интервал по выживаемости пассажиров 1 класса - в диапазоне 56,51% - 69,42% с уровнем значимости alpha = 0,05

Вариант В: Если дисперсия неизвестна, воспользуемся формулой:

In [28]:
t.interval(1 - alpha, n - 1, loc=mean, scale=std)

(-0.3244134669216916, 1.583672726180951)

Вывод: доверительный интервал по выживаемости пассажиров с каютами 1 кл. находится в диапазоне -32,44 - 158,37%% с уровнем значимости alpha = 0,05

Ответить на вопросы:

какой вариант оценки доверительных интервалов нужно использовать в данной задаче и почему?

какая из ошибок более критична для данной задачи - I или II рода?

Ответы:
1 - вариант оценки доверительных интервалов, когда настоящая дисперсия неизвестна

2 - Ошибка 1го рода - решить, что пассажир выживет, в то время как погибнет; ошибка 2го рода - посчитать, что пассажир не выживет, в то время как в действительности он выживет. Наиболее критична ошибка 1 рода (с точки зрения пассажира).

# Normal

In [29]:
import scipy

часть 1.  Проверить гипотезу о том, что женщины выживают чаще мужчин с уровнем значимости 0.05

Сформулируем гипотезы:

H0 - женщины выживают с такой же частотой, как и мужчины

H1 - женщины выживают чаще мужчин

Сформируем две выборки - мужчины и женщины

При р-значении (p-value) менее 0,05 мы можем отвергать нулевую гипотезу

In [30]:
male = titanic[titanic.Sex == 'male']

In [31]:
female = titanic[titanic.Sex == 'female']

Воспользуемся критерием Стьюдента

Для подтверждения гипотезы о том, что женщины выживают чаще, необходимо выполнить тест с результатом достоверности p-value меньше 0.05

In [32]:
x, p_value = scipy.stats.ttest_ind(male.Survived.array, female.Survived.array, alternative = 'less')

In [33]:
print('p_value составляет: ', p_value)

p_value составляет:  7.030330654401297e-70

In [34]:
print('Следовательно,')
if p_value < 0.05:
    print('Гипотеза о том, что женщины выживают чаще, верна')
else:
    print('Гипотеза о том, что женщины выживают чаще, НЕ верна')

Следовательно,
Гипотеза о том, что женщины выживают чаще, верна

2. Проверить гипотезу о том, что дети выживают чаще, чем взрослые

Сформулируем гипотезы:

H0 - дети выживают с такой же частотой, что и взрослые

H1 - дети выживают чаще, чем взрослые

Сформируем две выборки - взрослые и дети

In [35]:
old = titanic[titanic.Age >= 18]

In [36]:
children = titanic[titanic.Age < 18]

Воспользуемся критерием Стьюдента.

Для подтверждения гипотезы необходимо выполнить тест с результатом достоверности p-value меньше 0.05

In [37]:
x, p_value = scipy.stats.ttest_ind(old.Survived.array, children.Survived.array, alternative = 'less')

In [38]:
print('p_value составляет: ', p_value)

p_value составляет:  0.0007919436725484551

In [39]:
print('Следовательно,')
if p_value < 0.05:
    print('Гипотеза о том, что дети выживают чаще взрослых верна')
else:
    print('Гипотеза о том, что дети выживают чаще взрослых не верна')

Следовательно,
Гипотеза о том, что дети выживают чаще взрослых верна