 Домашняя работа

Будем работать с датасетом подержанных машин https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes.

Задача - построить прогноз цены машины по ее данным (год выпуска, пробег, расход, размер двигателя, тип коробки передач и тд). 

Это задача регрессии, поэтому нужно использовать модели регрессоры, а не классификаторы (например, не `StackingClassifier`, а `StackingRegressor`).

## Easy

Взять один файл с маркой машины.

Построить прогноз, используя модели линейной регрессии и случайного леса. Сравнить результаты, используя кросс-валидацию. Подобрать гиперпараметры моделей (для линейной регрессии можно использовать реализацию с градиентным спуском `SGDRegressor`). Оценить качество, используя метрику `r2_score`. Оценить важность признаков (параметр `feature_importance_` у случайного леса).

## Normal

Объединить в один датафрейм данные по всем маркам машин. Преобразовать категориальные признаки.

Построить еще несколько моделей, используя подбор гиперпараметров. Сравнить между собой все построенные модели.

## Hard

Построить модель стекинга над всеми моделями из задачи Normal. Удалось ли улучшить результат?

In [7]:
import numpy as np
import pandas as pd
import scipy

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import StackingClassifier
from sklearn.datasets import load_digits
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
import seaborn as sns

Оценим зависимость цен от года выпуска автомобиля

In [2]:
vw = pd.read_csv('../data/vw.csv')
vw.sort_values('year')
vw.transmission = pd.Categorical(vw.transmission)
vw.model = pd.Categorical(vw.model)
vw

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,T-Roc,2019,25000,Automatic,13904,Diesel,145,49.6,2.0
1,T-Roc,2019,26883,Automatic,4562,Diesel,145,49.6,2.0
2,T-Roc,2019,20000,Manual,7414,Diesel,145,50.4,2.0
3,T-Roc,2019,33492,Automatic,4825,Petrol,145,32.5,2.0
4,T-Roc,2019,22900,Semi-Auto,6500,Petrol,150,39.8,1.5
...,...,...,...,...,...,...,...,...,...
15152,Eos,2012,5990,Manual,74000,Diesel,125,58.9,2.0
15153,Fox,2008,1799,Manual,88102,Petrol,145,46.3,1.2
15154,Fox,2009,1590,Manual,70000,Petrol,200,42.0,1.4
15155,Fox,2006,1250,Manual,82704,Petrol,150,46.3,1.2
15156,Fox,2007,2295,Manual,74000,Petrol,145,46.3,1.2

Выведим график зависимости года и цены

In [17]:
#plt.scatter(vw.year, vw.price)
sns.pairplot(vw)

NameError: name 'sns' is not defined

Сконвертируем категории model и transmission в числовые коды, а fuelType в OneHotEncoding

In [ ]:
model_code = vw.model.cat.codes
trans_code = vw.transmission.cat.codes
fuel_code = pd.get_dummies(vw.fuelType)
df = pd.DataFrame()
df['model_code'] = model_code
df['trans_code'] = trans_code
df['year'] = vw.year
df['mileage'] = vw.mileage
df['tax'] = vw.tax
df['mpg'] = vw.mpg
df['engineSize'] = vw.engineSize

In [9]:

df = df.join(fuel_code)
df

,model_code,trans_code,year,mileage,tax,mpg,engineSize,Diesel,Hybrid,Other,Petrol
0,21,0,2019,13904,145,49.6,2.0,1,0,0,0
1,21,0,2019,4562,145,49.6,2.0,1,0,0,0
2,21,1,2019,7414,145,50.4,2.0,1,0,0,0
3,21,0,2019,4825,145,32.5,2.0,0,0,0,1
4,21,2,2019,6500,150,39.8,1.5,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
15152,10,1,2012,74000,125,58.9,2.0,1,0,0,0
15153,11,1,2008,88102,145,46.3,1.2,0,0,0,1
15154,11,1,2009,70000,200,42.0,1.4,0,0,0,1
15155,11,1,2006,82704,150,46.3,1.2,0,0,0,1
15156,11,1,2007,74000,145,46.3,1.2,0,0,0,1

Теперь создадим numpy матрицу факторов X, и результирующий вектор Y с ценой из таблицы.
Создадим тренировочный и тестовый наборы данных

In [15]:
x = df.values
y = vw.price.values
x_train, x_test, y_train, y_test = train_test_split(x, y)

Возьмем модель линейной регресси и посчитаем ее

In [8]:
x = 
x_train, x_test, y_train, y_test = train_test_split(x, y)
lr = LinearRegression()

NameError: name 'LineRegression' is not defined